@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
/* 
"Playfair Display" weight: 400-900
"Source Serif 4" weight: 200-900
"Crimson Text" weight: 400, 600, 700
"Anonymous Pro" weight: 400, 700
 */
body {
    overflow: hidden;
    width: 90vw;
    height: 90vh;
    background-image: url('./assets/images/portbg.png');
    background-size: cover;
}

.home h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 64px;
    color: white;
    margin: 5%;
    letter-spacing: 7%;
}

.home h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 54%;
    color: #818181;
    margin: 5%;
    margin-top: -6%;
}

.navbox {
    background-image: url('./assets/images/navbox.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 21vw;
    height: 65vh;
    position: absolute;
    bottom: 0;
    left: 5%;
}

.navbox a {
    font-family: 'Anonymous Pro', monospace;
    color: black;
    font-size: 32px;
    font-weight: 400;
    text-decoration: none;
    left: 35%;
    position: relative;
}

.home h3 {
    position: absolute;
    left: 18%;
    bottom: 2%;
    writing-mode: vertical-lr;
    font-family: 'Playfair Display' serif;
    font-size: 128px;
    color: #A8A8A8;
    font-weight: 400;
}

.info-box {
    border-style: solid;
    border-color: #CCFF33;
    border-width: 2px;
    border-right-style: none;
    position: absolute;
    right: 0;
    top: 12%;
    width: 50vw;
    height: 80vh;
}

.info-box h2 {
    z-index: 1;
    color:#CCFF33;
    font-family: 'Source Serif 4', serif;
    font-size: 96px;
    letter-spacing: 40%;
    margin-left: 2%;
    margin-bottom: 0;
}

.info-box h4 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 64px;
    letter-spacing: 18%;
    color: #818181;
    z-index: 1;
    margin-top: 0;
    margin-bottom: 2%;
}

.info-box p {
    font-family: 'Anonymous Pro', monospace;
    font-weight: 400;
    background-color: #CCFF33;
    z-index: 1;
    max-width: 80%;
    justify-self: right;
    font-size: 24px;
    color: black;
    padding: 2%;
}

.project {
    display: flex;
    flex-direction: column;
    justify-self: right;
    justify-content: space-evenly;
    width: 50%;;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #282828;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.project-info a {
    text-decoration: none;
    font-family: 'Crimson Text', serif;
    font-size: 32px;
    font-weight: 400;
    color: black;
    writing-mode: horizontal-tb;
    z-index: 2;
    padding-left: 2%;
    background-color: #CCFF33;
}

.project-info p {
    padding-right: 5%;
    max-width: 95%;
    background-color: #a8a8a85b;
    color: white;
    z-index: 1;
    position: relative;
    margin-top: 0;
    font-size: 20px;
}